.favorites-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 80px;
}

.favorites__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    row-gap: 16px;
    box-sizing: border-box;

}