.header {
    background-color: rgba(18, 24, 41, 0.8);
    padding: 20px 0;
}

.header__wrapper {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
    gap: 16px;
}

.header__favorites {
    position: relative;
}

.header__favorites > div {
    position: apsolute;
} 