.header {
        background-color: rgba(18, 24, 41, 0.8);
        /* background-color: red; */
        padding: 20px 0;
}

.header__wrapper {
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    display: flex;
}