.link-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:  8px 10px;
    border-radius: 50%;
    background-color: #7B6EF6;
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
}