.login-user {
    display: flex;
}

.login-user__login {
    margin: 0;
    display: flex;
    gap: 16px;
    font-size: 16px;
    align-items: 24px;
    font-weight: 600;
    color: #A8AEBF;

    align-items: center;
    justify-content: center;
}

.login-user__user {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 12px 32px;
   
}

.login-user__logout {
    padding: 12px 32px;
    border: none;
    background-color: transparent;
    font: inherit;
    color: inherit;
}